doctype html
html
  include _partials/_head
  body
    #page-wrapper
      include _partials/_header
      //- content section
      != yield

      include _partials/_footer
    include _partials/_scripts
