// Contact
.container
  header
    h2
      | Questions or comments?
      strong Get in touch:
  .row
    .6u(class='12u(mobile)')
      section
        form(method='post', action='#')
          .row(class='50%')
            .6u(class='12u(mobile)')
              input(name='name', placeholder='Name', type='text')
            .6u(class='12u(mobile)')
              input(name='email', placeholder='Email', type='text')
          .row(class='50%')
            .12u
              textarea(name='message', placeholder='Message')
          .row(class='50%')
            .12u
              a.form-button-submit.button.icon.fa-envelope(href='#') Send Message
    .6u(class='12u(mobile)')
      section
        p
          | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
          | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
          | leo nibh, rutrum eu malesuada.
        .row
          .6u(class='12u(mobile)')
            ul.icons
              li.icon.fa-home
                | 1234 Somewhere Road
                br
                |                           Nashville, TN 00000
                br
                |                           USA
              li.icon.fa-phone
                | (000) 000-0000
              li.icon.fa-envelope
                a(href='#') info@untitled.tld
          .6u(class='12u(mobile)')
            ul.icons
              li.icon.fa-twitter
                a(href='#') @untitled-tld
              li.icon.fa-instagram
                a(href='#') instagram.com/untitled-tld
              li.icon.fa-dribbble
                a(href='#') dribbble.com/untitled-tld
              li.icon.fa-facebook
                a(href='#') facebook.com/untitled-tld
// TODO: spacing
br
hr
br
