// Banner
#banner-wrapper
  .inner
    section#banner.container
      p
        | Cep orci justo dis
        strong varius congue
        | .
        br
        | At et lectus mus. Auctor.

// Features
#features-wrapper
  section#features.container
    header
      h2 Tempus, dictum! Nisi at Aenean Sapien!
    .row
      .4u(class='12u(mobile)')
        // Feature
        section
          a.image.featured(href='#')
            img(src='images/pic01.jpg', alt='')
          header
            h3 Augue, at quam ut porta?
          p
            | Duis eu Aenean Nullam, sed augue, morbi dictum nisi varius Ligula. Elit sit ornare mus congue non purus sapien dui auctor.
      .4u(class='12u(mobile)')
        // Feature
        section
          a.image.featured(href='#')
            img(src='images/pic02.jpg', alt='')
          header
            h3 Felis! Arcu at Congue?
          p
            | Lectus in non nibh aenean at Ornare ut primis rutrum ut et sit ata ac nisl arcu at erat auctor cep congue at mi tempor magnis cursus vel eget.
      .4u(class='12u(mobile)')
        // Feature
        section
          a.image.featured(href='#')
            img(src='images/pic03.jpg', alt='')
          header
            h3 Neque? Aenean augue?
          p
            | Cras at ata ligula congue col turpis ornare leo augue. Non ut et massa mi Aenean primis dictum dis nulla ut eget libero.
    ul.actions
      li
        a.button.icon.fa-file(href='#') Tell Me More

// Main
#main-wrapper
  #main.container
    .row
      // Content
      #content.8u(class='12u(mobile)')
        // Post
        article.box.post
          header
            h2
              a(href='#')
                | A rutrum nibh ut cep aenean sed tempus vel.
                br
                | sit ornare non aenean.
          a.image.featured(href='#')
            img(src='images/pic04.jpg', alt='')
          h3 A nisi justo at ornare?
          p
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
            | Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
          ul.actions
            li
              a.button.icon.fa-file(href='#') Continue Reading
        // Post
        article.box.post
          header
            h2
              a(href='#')
                | At col duis, enim primis et cursus
                | mus proin lectus cras dictum
          a.image.featured(href='#')
            img(src='images/pic05.jpg', alt='')
          h3 Vis tortor varius augue dui sed nisi
          p
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
            | Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
          p
            | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
            | vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
            | magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
            | tristique at erat. Curabitur leo nibh, rutrum eu malesuada  in, tristique
            | at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
            | tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
            | magna tempus
          ul.actions
            li
              a.button.icon.fa-file(href='#') Continue Reading
      // Sidebar
      #sidebar.4u(class='12u(mobile)')
        // Excerpts
        section
          ul.divided
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 30
                  h3
                    a(href='#') Quam luctus nisl
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 28
                  h3
                    a(href='#') Ata dictum eget
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 24
                  h3
                    a(href='#') Col cras enim
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
        // Highlights
        section
          ul.divided
            li
              // Highlight
              article.box.highlight
                header
                  h3
                    a(href='#') Montes at quam
                a.image.left(href='#')
                  img(src='images/pic06.jpg', alt='')
                p
                  | Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                  | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                  | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                  | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                ul.actions
                  li
                    a.button.icon.fa-file(href='#') Learn More
            li
              // Highlight
              article.box.highlight
                header
                  h3
                    a(href='#') Tempor ut orci diam
                a.image.left(href='#')
                  img(src='images/pic07.jpg', alt='')
                p
                  | Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                  | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                  | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                  | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                ul.actions
                  li
                    a.button.icon.fa-file(href='#') Learn More
