// Main
#main-wrapper
  #main.container
    .row
      // Sidebar
      #sidebar.4u(class='12u(mobile)')
        // Excerpts
        section
          ul.divided
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 30
                  h3
                    a(href='#') Arcu cursus cras
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 28
                  h3
                    a(href='#') Sit primis arcu
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
            li
              // Excerpt
              article.box.excerpt
                header
                  span.date July 24
                  h3
                    a(href='#') Sed arcu nisl
                p
                  | Lorem ipsum dolor odio facilisis convallis. Etiam non nunc vel est
                  | suscipit convallis non id orci lorem ipsum sed magna consequat feugiat lorem dolore.
        // Highlights
        section
          ul.divided
            li
              // Highlight
              article.box.highlight
                header
                  h3
                    a(href='#') Dictum at nisi
                a.image.left(href='#')
                  img(src='images/pic06.jpg', alt='')
                p
                  | Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                  | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                  | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                  | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                ul.actions
                  li
                    a.button.icon.fa-file(href='#') Learn More
            li
              // Highlight
              article.box.highlight
                header
                  h3
                    a(href='#') Varius et erat nibh
                a.image.left(href='#')
                  img(src='images/pic07.jpg', alt='')
                p
                  | Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
                  | viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
                  | convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
                  | facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.
                ul.actions
                  li
                    a.button.icon.fa-file(href='#') Learn More
      // Content
      #content.8u(class='12u(mobile) important(mobile)')
        // Post
        article.box.post
          header
            h2
              | Ornare! Nisl in sit cras lectus sapien
              br
              |                         nisl cep lectus ut sed augue!
          span.image.featured
            img(src='images/pic04.jpg', alt='')
          h3 Eget at non aenean ut risus
          p
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
            | Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
          p
            | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula
            | vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet
            | magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in,
            | tristique at erat. Curabitur leo nibh, rutrum eu malesuada  in, tristique
            | at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna
            | tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat
            | magna tempus
          p
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
            | Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
          h3 Accumsan lorem ipsum veroeros
          p
            | Consequat Phasellus laoreet massa id in, tristique at erat lorem
            | ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna.
          p
            | Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique.
            | Curabitur leo nibh, rutrum eu malesuada in, tristique at erat.
          h3 Ligula suspcipit fusce veroeros
          p
            | Nullam dolore etiam sed massa id in, tristique at erat lorem
            | ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna.
          p
            | Sed massa id justo mattis pharetra. Fusce suscipit
            | ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris
            | sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat
            | magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros
            | consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id
            | justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet
            | mollis tortor congue. Sed quis mauris sit amet magna accumsan.
s
