script(src='/assets/js/jquery.min.js')
script(src='/assets/js/jquery.dropotron.min.js')
script(src='/assets/js/skel.min.js')
script(src='/assets/js/skel-viewport.min.js')
script(src='/assets/js/util.js')
//if lte IE 8
  script(src='/assets/js/ie/respond.min.js')
script(src='/assets/js/main.js')
