doctype html
html
  head
    title #{title} 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body
    #page-wrapper
      // Header
      #header-wrapper
        //- TODO: customize styles
        #header.container(style="padding: 8em 0 3em 0;")
          // Logo
          h1#logo
            // TODO: page title
            a(href='/') the blog
          // Nav
          nav#nav
            ul
              li
                a.icon.fa-home(href='/')
                  span Home
              li
                a.icon.fa-bar-chart-o(href='#')
                  span Dropdown
                ul
                  li
                    a(href='#') Lorem ipsum dolor
                  li
                    a(href='#') Magna phasellus
                  li
                    a(href='#') Etiam dolore nisl
                  li
                    a(href='#') Phasellus consequat
                    ul
                      li
                        a(href='#') Magna phasellus
                      li
                        a(href='#') Etiam dolore nisl
                      li
                        a(href='#') Phasellus consequat
                  li
                    a(href='#') Veroeros feugiat
              li
                a.icon.fa-cog(href='/left-sidebar')
                  span Recipes
              li
                a.icon.fa-retweet(href='/blog')
                  span Blog
              li
                a.icon.fa-sitemap(href='/no-sidebar')
                  span Contact
      
      //- this is the content section
      != yield
      
      // Footer
      #footer-wrapper
        #footer.container
          header
            h2
              | Questions or comments?
              strong Get in touch:
          .row
            .6u(class='12u(mobile)')
              section
                form(method='post', action='#')
                  .row(class='50%')
                    .6u(class='12u(mobile)')
                      input(name='name', placeholder='Name', type='text')
                    .6u(class='12u(mobile)')
                      input(name='email', placeholder='Email', type='text')
                  .row(class='50%')
                    .12u
                      textarea(name='message', placeholder='Message')
                  .row(class='50%')
                    .12u
                      a.form-button-submit.button.icon.fa-envelope(href='#') Send Message
            .6u(class='12u(mobile)')
              section
                p
                  | Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
                  | mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
                  | leo nibh, rutrum eu malesuada.
                .row
                  .6u(class='12u(mobile)')
                    ul.icons
                      li.icon.fa-home
                        | 1234 Somewhere Road
                        br
                        |                           Nashville, TN 00000
                        br
                        |                           USA
                      li.icon.fa-phone
                        | (000) 000-0000
                      li.icon.fa-envelope
                        a(href='#') info@untitled.tld
                  .6u(class='12u(mobile)')
                    ul.icons
                      li.icon.fa-twitter
                        a(href='#') @untitled-tld
                      li.icon.fa-instagram
                        a(href='#') instagram.com/untitled-tld
                      li.icon.fa-dribbble
                        a(href='#') dribbble.com/untitled-tld
                      li.icon.fa-facebook
                        a(href='#') facebook.com/untitled-tld
        #copyright.container
          ul.links
            li © Untitled. All rights reserved.
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.dropotron.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/skel-viewport.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
